body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #B9BAA3;
  margin-top: 0px;
  padding: 0px;
  font-family: 'Fira Sans Condensed', sans-serif;;
}

h1 {
  font-size: 3em;
  color: #3498DB;
}

p {
   margin-top: 0px;
   margin-bottom: 0px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 170px;
  background-color: #0A100D;
  margin-top: 0px;
  color: #3498DB;
}

.play {
  height: 100px;
  width: 100px;
}

.admin {
  height: 20px;
  width: 20px;
  margin-top: 5px;
}

.down {
  height: 20px;
  width: 20px;
}

.ontab {
  color: #A22C29;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 10px;
}

.username:hover {
  transition-property: all;
  transition-duration: 1000ms;
  color: #A22C29;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 507px;
}

.navicon {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.navtext {
margin-left: 10px;
grid-column: 1;
display: inline;
padding-bottom: 10px;
font-size: 1.5em;
vertical-align: center;
}

.navtext:hover {
  transition-property: all;
  transition-duration: 1000ms;
  color: #A22C29;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 2;
  height: 100%;
  grid-row-gap: 10px;
  column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #B9BAA3;
  padding-top: 10px;
}

.gameheader {
   display: flex;
   align-items: center;
   height: 130px;
   margin-left: 10px;
}

/*Style Each Card////////////////////////////////////////*/
.card {
  background-color: black;
  height: 459px;
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
  display-border: none;
}

.card:hover {
  transition-property: border;
  transition-duration: 2000ms;
  border-style: solid;
  border-color: #A22C29;
  border-width: 1px;

}

.picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0;
  background-size: cover;
  height: 36%;
  padding: 10px;
  opacity: .9
}

.picture:hover {
  opacity: 1.0;
}

.killcount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 9rem;
  text-align: center;

}

.kills {
}

.cardnumber {
  font-size: 1.75em;
  color: #3498DB;
}

.cursorbox {
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.cursor {
  height: 40px;
  width: 40px;
}

.pic1 {
  background-image: url(media/PUBG1.jpg);
  background-position: center center;

}

.pic2 {
  background-image: url(media/fortnite1.jpg);
  background-position: center center;
}

.pic3{
  background-image: url(media/r61.jpg);
  background-position: center center;
}

.pic4{
  background-image: url(media/cs2.jpg);
  background-position: center center;
}

.pic5{
  background-image: url(media/head1.png);
  background-position: center center;
}

.pic6{
  background-image: url(media/ow1.jpg);
  background-position: center center;
}

.pic7{
  background-image: url(media/cod1.jpg);
  background-position: center center;
}

.pic8{
background-image: url(media/mega2.jpg);
background-position: center center;
}

input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-wrap: break-word;

}

input::placeholder {
  margin-top: 0px;
  color: #323232;
  font-size: 2em;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #D6D5C9;
  height: 274px;
  padding-left: 10px;
  padding-right: 10px;
  color: #0a100d;
}

.info:hover {
  transition-property: all;
  transition-duration: 2000ms;
  background-color: #A22C29;
}

.name {
 margin-top: 0px;
 margin-bottom: 0px;
 padding-top: 5px;
}

.datetime {
  color: #3498DB;
}

.text {
  background-color: #C0BCB5;
  border: none;
  height: 3.5rem;
  width: 100%;
}

.playlist {
  margin-top: 0px;
  margin-bottom: 0px;
}

.playlistname {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3498DB;
}

.attachments {
  margin-top: 0px;
  margin-bottom: 0px;
}

.number {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2em;
  color: #3498DB;
}

.datetime {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*=============================================*/
/*==================Media Query================*/
/*=============================================*/



@media screen and (max-width: 629px) {
  .header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: none;
  grid-template-columns: none;
  height: 250px;
  width: 100%;
  background-color: #0A100D;
  margin-top: 0px;
  color: #3498DB;
}

.nav {
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  grid-row: 1;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

@media screen and (max-width: 526px){

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  width: 507px;
}

.navicon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.navtext {
margin-left: 10px;
grid-column: 1;
display: inline;
padding-bottom: 10px;
font-size: 1em;
vertical-align: center;
}

}

@media screen and (max-width: 507px) and (min-width: 350px) {

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  width: 23rem;
}

.navicon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.navtext {
margin-left: 10px;
grid-column: 1;
display: inline;
padding-bottom: 10px;
font-size: 1em;
vertical-align: center;
}
}

@media screen and (max-width: 350px) {
  .nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 320px;
}
  .navicon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

}

@media screen and (max-width: 351px) and (min-width: 525px) {
  .nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 30px;
}

}

